$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

$brand-primary: #17a18c;
@import 'sass-bootstrap/lib/bootstrap';

/* Core
--------------------*/
// I guess we'll leave this here...
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
// Global Box Sizing Ya Heard?
*, 
*:before, 
*:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  position: relative;
  font-size: 18px;
  line-height: 1.8;
}
h1,h2,h3,h4,h5 {
  font-family: "Roboto", Sans-Serif;
}

/* Logo Module
--------------------*/
.logo {
  font-family: "Roboto", Sans-Serif;
  &.logo--title {
    font-size: 4em;
    font-weight: 900;
    
  }
  &.logo--description {
    border-left: 3px solid;
    color: #d1e7e3;
    font-weight: 200;
    letter-spacing: 2px;
    margin-bottom: 1.0em;
    padding-left: 1.0em;
    text-transform: uppercase;
  }
}

/* Slide Module
--------------------*/
// Basic "Slide" Setup
.slide {
  height: 100%;
  position: relative;
  z-index: 11; // First level
  .slide-heading {
    font-size: 5.0em;
    font-weight: 900;
    margin-top: 0;
    &.slide-heading--index {
      font-size: 4.0em;
      font-weight: 400;
      margin: 0;
      opacity: .5;
      &:after {
        content: ' /';
        font-weight: 100;
        opacity: .3;
      }
    }
  }
  &.slide--primary {
    background: $brand-primary;
    color: #FFF;
    a {
      color: #FFF;
    }
    .btn {
      border: none;
      color: $brand-primary;
      font-weight: bold;
      min-width: 280px;
      text-align: left;
      i {
        margin-top: 4px;
        float: right;
      }
    }
  }
  .container {
    &.container--centered {
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      top: 50%;
      position: absolute;
      z-index: 111; // Third level
    }
    .content--primary {}
    .content--secondary {}
  }
}
// Mobile tweaks
@media screen and (max-width: 768px) {
  .slide {
    padding: 2.0em;
    height: auto; // Disable 100% width
    .slide-heading {
      font-size: 2.0em;
      &.slide-heading--index {
        font-size: 1.0em;
      }
    }
    .container {
      &.container--centered {
        left: 0; // Disable vertical align
        -webkit-transform: translate(0); // Disable vertical align
        -moz-transform: translate(0); // Disable vertical align
        -ms-transform: translate(0); // Disable vertical align
        -o-transform: translate(0); // Disable vertical align
        transform: translate(0); // Disable vertical align
        top: 0; // Disable vertical align
        position: relative;
      }
    }
    .video--wrapper {
      display: none;
    }
  }
  .navbar {
    margin-top: 0 !Important;
  }
}


/* Shameful
--------------------*/
// Some stuff leftover from Yeoman.
// Random hacks because it's 2am
// Get this shit out of here...

.video--intro {
  top: 0;
  left: 0;
  opacity: 0.5;
  -webkit-filter: grayscale(100%);
}

// Navbar shit. Temportary location...
.navbar {
  margin-top: -$navbar-height;
  margin-bottom: $navbar-height;
  border-radius: 0;
  border: 0;
  z-index: 111; // Third Level
  position: relative;
  &.stuck {
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 0;
  }
}
// This is a sponsor logo. Fix this later...
img.sponsor {
  margin: 20px 0;
  opacity: .8;
  &:hover {
    opacity: 1.0;
  }
}
// This is the alert on the sponsors section. Fix this later too...
a.alert {
  border-left: 3px solid;
  border-radius: 0;
  display: block;
  padding: 0 20px;
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 100%;
  }
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}