$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

$brand-primary: #17a18c;
@import 'sass-bootstrap/lib/bootstrap';

/* Core
--------------------*/
*, 
*:before, 
*:after {
   @include box-sizing(border-box);
}
html,
body {
  font-size: 18px;
  height: 100%;
  line-height: 1.8;
  position: relative;
}
h1,h2,h3,h4,h5 {
  font-family: "Roboto", Sans-Serif;
  font-weight: 600;
}

/* Browse Happy
--------------------*/
.browsehappy { 
  background: $brand-danger;
  color: #FFF;
  margin: 0;
  padding: 1.0em;
  a {
    color: #FFF;
    font-weight: bold;
  }
}

/* Logo
--------------------*/
.logo {
  font-family: "Roboto", Sans-Serif;
  &.logo--title {
    font-size: 4em;
    font-weight: 900;
    
  }
  &.logo--description {
    border-left: 3px solid;
    color: #d1e7e3;
    font-weight: 200;
    letter-spacing: 2px;
    margin-bottom: 1.0em;
    padding-left: 1.0em;
    text-transform: uppercase;
  }
}

/* Slide
--------------------*/
.slide {
  height: 100%;
  position: relative;
  z-index: 11; // First level
  .slide-heading {
    font-size: 5.0em;
    font-weight: 900;
    margin-top: 0;
    &.slide-heading--index {
      font-size: 4.0em;
      font-weight: 400;
      margin: 0;
      opacity: .5;
      &:after {
        content: ' /';
        font-weight: 100;
        opacity: .3;
      }
    }
  }
  &.slide--primary {
    background: $brand-primary;
    color: #FFF;
    a {
      color: #FFF;
    }
    .btn {
      border: 3px solid #FFF;
      color: #FFF;
      font-weight: bold;
      text-align: left;
      background: transparent;
    }
  }
  .container {
    &.container--centered {
      left: 50%;
      @include translate(-50%, -50%);
      position: absolute;
      top: 50%;
      z-index: 111; // Third level
    }
  }
}

/* Video
--------------------*/
.video {
  .video--intro {
    top: 0;
    left: 0;
    opacity: 0.5;
    -webkit-filter: grayscale(100%);
  }
}


/* Image
--------------------*/
.img {
  &.img--sponsor {
    margin: 20px 0;
    opacity: .8;
    &:hover {
      opacity: 1.0;
    }
  }
}

/* Alert
--------------------*/
.alert {
  &.alert--footnote {
    border-left: 3px solid;
    border-radius: 0;
    display: block;
    padding: 0 20px;
    margin-top: 40px;
  }
}

/* Navbar
--------------------*/
.navbar {
  border: 0;
  border-radius: 0;
  margin-top: -$navbar-height;
  margin-bottom: $navbar-height;
  position: relative;
  z-index: 111; // Third Level
  &.stuck {
    margin-top: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }
}

/* Mobile & Tablet
--------------------*/
@media screen and (max-width: 768px) {
  .slide {
    padding: 2.0em; // Add some padding
    height: auto; // Disable 100% width
    .slide-heading {
      font-size: 2.0em; // Shrink font size
      &.slide-heading--index {
        font-size: 1.0em; // Shrink font size
      }
    }
    .container {
      &.container--centered {
        left: 0;
        @include translate(0,0);
        position: relative;
        top: 0;
      }
    }
    .video--wrapper {
      display: none;
    }
  }
  .navbar {
    margin-top: 0 !Important;
  }
}