<!--[if lt IE 10]>
  <p class="browsehappy"><i class="fa fa-info-circle"></i>  You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!--Begin Intro-->
<section class="slide slide--primary" id="intro">
  <div class="container container--centered">
    <div class="row">
      <div class="col-md-12">
        <img src="images/logo_v2.png" />
        <h2 class="logo logo--description">The New Orleans Open Source Hackathon</h2>
        <h2 class="logo logo--date">May 9, 7:00 PM to May 10, 7:00 PM at <a href="http://lp.co/">Launch Pad</a></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <p class="lead">
          24 hours of developers and designers jammin' hard on
          existing open source projects in an effort to help make them
          better and to encourage more people to contribute to open source
          projects. Registration is free and open to the public.
        </p>
        <a href="#register" class="btn btn-default btn-lg">Register at Eventbrite <i class="fa fa-chevron-right"></i></a>
        <a class="btn btn-link btn-lg" href="/sponsors">Become a sponsor</a>
        <a class="btn btn-link btn-lg" href="https://www.youtube.com/watch?v=SacdyG7gsQw">See the trailer</a>
      </div>
    </div>
  </div>
</section>

<!--Begin Navbar-->
<nav class="navbar navbar-inverse" role="navigation" id="navbar">
<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-content">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#intro">Open Source Nola</a>
  </div>

  <div class="collapse navbar-collapse" id="navbar-content">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#projects">Projects</a></li>
      <li><a href="#rules">Rules</a></li>
      <li><a href="#register">Registration</a></li>
      <li><a href="#prizes">Prizes</a></li>
      <li><a href="#sponsors">Sponsors</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>
</div>
</nav>

<!--Begin Projects-->
<section class="slide" id="projects">
<div class="container container--centered">
  <div class="content content--primary">
    <div class="row">
      <div class="col-md-12">
        <h2 class="slide-heading slide-heading--index">01</h2>
        <h2 class="slide-heading">Projects</h2>
        <div class="row">
            <div class="col-md-12">
              <h3>There are many open source projects that could use your help!</h3>
              <p>
                <a href="http://codetriage.com" target="_blank">Code Triage</a> lists various open source projects, by language, that could use some help.
              </p>
              <h3>Recommended Projects</h3>
            </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-4">
            <div class="thumbnail">
              <img src="images/discourse.png" height="130" width="380" />
              <div class="caption">
                <p>A new, open source discussion platform co-founded by Jeff Atwood. They were also kind enough to send us stickers for the event's participants.</p>
                <p><a href="http://www.discourse.org/" class="btn btn-lg btn-primary" role="button">Visit Website</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content--secondary">

  </div>
</div>
</section>

<!--Begin Rules-->
<section class="slide slide--primary" id="rules">
<div class="container container--centered">
  <div class="content content--primary">
    <h3 class="slide-heading slide-heading--index">02</h3>
    <h2 class="slide-heading">Rules</h2>
    <ul>
      <li>Teams of up to 4 people</li>
      <li>Anyone on the team can contribute to any open source project on Github.</li>
      <li>You can submit pull requests to multiple projects.</li>
      <li>
        Scoring is points based with a GitHub star multiplier (i.e base points * number of stars for project)
        <ul>
            <li>1 point for submitting a pull request that fixes are implements an existing issue.</li>
            <li>2 points for having that pull request accepted.</li>
        </ul>
      </li>
      <li>You cannot own the project or be part of the organization or team that owns the project.</li>
      <li>Whoever scores the most points at the end of the hackathon wins</li>
      <li>Prizes will be given to the 1st, 2nd, and 3rd place teams</li>
    </ul>
  </div>
</div>
</section>

<!--Begin Registration-->
<section class="slide" id="register">
<div class="container container--centered">
  <div class="content content--primary">
    <div class="col-md-8">
      <h3 class="slide-heading slide-heading--index">03</h3>
      <h2 class="slide-heading">Registration</h2>
      <p>Registration is free and open to the public. The exact date of the event is from Friday, May 9, 2014 at 7:00 PM to Saturday, May 10, 2014 at 7:00 (CST) at <a href="http://lp.co/">Launch Pad</a>. </p><a class="btn btn-primary btn-lg" target="_blank" href="http://www.eventbrite.com/e/new-orleans-open-source-hackathon-tickets-10611321749">Register at Eventbrite</a></p>
    </div>
  </div>
</div>
</section>

<!--Begin Prizes-->
<section class="slide slide--primary" id="prizes">
<div class="container container--centered">
  <div class="content content--primary">
    <div class="col-md-8">
      <h3 class="slide-heading slide-heading--index">04</h3>
      <h2 class="slide-heading">Prizes</h2>
      <ul>
        <li><b>1st place:</b> $400 and 3 months subscriptions to <a href="http://codeship.io" target="_blank">Codeship.io</a></li>
        <li><b>2nd place:</b> $250</li>
        <li><b>3rd place:</b> $150</li>
      </ul>
    </div>
  </div>
</div>
</section>

<!--Begin Sponsors-->
<section class="slide" id="sponsors">
<div class="container container--centered">
  <div class="content content--primary">
    <div class="col-md-8">
      <h3 class="slide-heading slide-heading--index">05</h3>
      <h2 class="slide-heading">Sponsors</h2>
      <h4 class="sponsor-level-heading">Gold</h4>
      <p>
        <a target="_blank" href="http://lp.co/"><img src="images/gold_launch_pad.png" width="140px" class="sponsor"/></a>
        <a target="_blank" href="http://codeship.io/"><img src="images/gold_code_ship.png" width="240px" class="sponsor"/></a>
        <a target="_blank" href="http://carrolltongroup.com/"><img src="images/gold_carrollton_group.jpg" width="140px" class="sponsor"/></a>
        <a target="_blank" href="http://www.surgeforward.com/"><img src="images/gold_surge.png" width="140px" class="sponsor"/></a>
        <a target="_blank" href="http://apptitudenola.com/"><img src="images/gold_apptitude.jpg" width="90px" class="sponsor"/></a>
      </p>
      <h4 class="sponsor-level-heading">Bronze</h4>
      <p><a target="_blank" href="http://nclud.com/"><img src="images/bronze_nclud.jpg" width="100px" class="sponsor"/></a>
      <img src="images/bronze_AMP.PNG" width="100px" class="sponsor"/>
      <img src="images/bronze_Mark.png" width="120px" class="sponsor"/>
    </p>
    </div>
  </div>
</div>
</section>

<!--Begin Contact-->
<section class="slide slide--primary" id="contact">
<div class="container container--centered">
  <div class="content content--primary">
    <h3 class="slide-heading slide-heading--index">06</h3>
    <h2 class="slide-heading">Contact</h2>
    <div class="col-md-12">
      <ul class="list-inline">
        <li><i class="fa fa-envelope"></i> <a href="mailto:team@opensourcenola.org" target="_top">team@opensourcenola.org</a> </li>
        <li><i class="fa fa-twitter"></i> <a href="http://twitter.com/opensourcenola">@opensourcenola</a></li>
        <li><i class="fa fa-github"></i>  <a href="http://github.com/opensourcenola">opensourcenola</a></p></li>
    </div>
  </div>
</div>
</section>
