<!--[if lt IE 10]>
  <p class="browsehappy"><i class="fa fa-info-circle"></i>  You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!--Begin Intro-->
<section class="slide slide--primary" id="intro">
  <div class="container container--centered">
    <div class="row">
      <div class="col-md-12">
        <img src="images/logo_v2.png" />
        <h2 class="logo logo--description">The New Orleans Open Source Hackathon</h2>
        <h2 class="logo logo--date">May 9, 2014 7:00 PM to May 10, 2014 7:00 PM</h2>
        <h2 class="logo logo--date">at <a href="http://lp.co/">Launch Pad</a></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <p class="lead">
          24 hours of developers and designers jammin' hard on
          existing open source projects in an effort to help make them
          better and to encourage more people to contribute to open source
          projects. Registration is free and open to the public.
        </p>
        <a href="#register" class="btn btn-default btn-lg">Register at Eventbrite <i class="fa fa-chevron-right"></i></a>
        <a class="btn btn-link btn-lg" href="#sponsors">Become a sponsor</a>
      </div>
    </div>
  </div>
  <div class="video video--wrapper">
    <video class="video video--intro" autoplay loop>
      <source src="/video/intro.mp4" type="video/mp4">
      <source src="/video/intro.ogv" type="video/ogg">
    </video>
  </div>
</section>

<!--Begin Navbar-->
<nav class="navbar navbar-inverse" role="navigation" id="navbar">
<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-content">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#intro">Open Source Nola</a>
  </div>

  <div class="collapse navbar-collapse" id="navbar-content">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#projects">Projects</a></li>
      <li><a href="#rules">Rules</a></li>
      <li><a href="#register">Registration</a></li>
      <li><a href="#prizes">Prizes</a></li>
      <li><a href="#sponsors">Sponsors</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>
</div>
</nav>

<!--Begin Projects-->
<section class="slide" id="projects">
<div class="container container--centered">
  <div class="content content--primary">
    <div class="row">
      <div class="col-md-12">
        <h2 class="slide-heading slide-heading--index">01</h2>
        <h2 class="slide-heading">Projects</h2>
        <div class="row">
            <div class="col-md-12">
              <h3>There are many open source projects that could use your help!</h3>
              <p>
                <a href="http://codetriage.com" target="_blank">Code Triage</a> lists various open source projects, by language, that could use some help.
              </p>
              <h3>Recommended Projects</h3>
            </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-4">
            <div class="thumbnail">
              <img src="images/discourse.png" height="130" width="380" />
              <div class="caption">
                <h3>Discourse</h3>
                <p>A new, open source discussion platform co-founded by Jeff Atwood of Coding Horror and Stack Overflow fame. They were also kind enough to send us stickers for the event's participants.</p>
                <p><a href="http://www.discourse.org/" class="btn btn-lg btn-primary" role="button">Visit Website</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content--secondary">

  </div>
</div>
<div class="next-slide-arrow">
  <a href="#rules"><i class="fa fa-chevron-down"></i> Rules</a>
</div>
</section>

<!--Begin Rules-->
<section class="slide slide--primary" id="rules">
<div class="container container--centered">
  <div class="content content--primary">
    <h3 class="slide-heading slide-heading--index">02</h3>
    <h2 class="slide-heading">Rules</h2>
    <ul>
      <li>Teams of up to 4 people</li>
      <li>Anyone on the team can contribute to any open source project.</li>
      <li>
        Scoring is points based with a GitHub star multiplier
        <ul>
            <li>1 point for submitting a patch or pull request that fixes a bug</li>
            <li>2 points for submitting a patch or pull request that implements a feature</li>
            <li>4 points creating a new feature, having that accepted by the project and for submitting a patch or pull request implements that feature
            </li>
            <li>Your points are weighted by the number of stars that repo has.  <em>E.g. A <strong>2</strong> point feature with a <strong>50</strong> star repo coefficient will land you <strong>100</strong> points total.</em></li>
        </ul>
      </li>
      <li>You don't have to work on the same project for the entire event. If you want to submit pull requests to various projects during the event, you can.</li>
      <li>Whoever scores the most points at the end of the hackathon wins</li>
      <li>Prizes will be given to the 1st, 2nd, and 3rd place teams</li>
      <li>Individual prizes will be given to the 1st, 2nd, and 3rd place individuals</li>
    </ul>
  </div>
</div>
<div class="next-slide-arrow">
  <a href="#register"><i class="fa fa-chevron-down"></i> Register</a>
</div>
</section>

<!--Begin Registration-->
<section class="slide" id="register">
<div class="container container--centered">
  <div class="content content--primary">
    <div class="col-md-8">
      <h3 class="slide-heading slide-heading--index">03</h3>
      <h2 class="slide-heading">Registration</h2>
      <p>Registration is free and open to the public. The exact date of the event is from Friday, May 9, 2014 at 7:00 PM to Saturday, May 10, 2014 at 7:00 (CST) at <a href="http://lp.co/">Launch Pad</a>. </p><a class="btn btn-primary btn-lg" target="_blank" href="http://www.eventbrite.com/e/new-orleans-open-source-hackathon-tickets-10611321749">Register at Eventbrite</a></p>
    </div>
  </div>
</div>
<div class="next-slide-arrow">
  <a href="#prizes"><i class="fa fa-chevron-down"></i> Prizes</a>
</div>
</section>

<!--Begin Prizes-->
<section class="slide slide--primary" id="prizes">
<div class="container container--centered">
  <div class="content content--primary">
    <div class="col-md-8">
      <h3 class="slide-heading slide-heading--index">04</h3>
      <h2 class="slide-heading">Prizes</h2>
      <p>To be determined....</p>
    </div>
  </div>
</div>
<div class="next-slide-arrow">
  <a href="#sponsors"><i class="fa fa-chevron-down"></i> Sponsors</a>
</div>
</section>

<!--Begin Sponsors-->
<section class="slide" id="sponsors">
<div class="container container--centered">
  <div class="content content--primary">
    <div class="col-md-8">
      <h3 class="slide-heading slide-heading--index">05</h3>
      <h2 class="slide-heading">Sponsors</h2>
      <h4 class="sponsor-level-heading">Gold</h4>
      <p>
        <a target="_blank" href="http://lp.co/"><img src="images/gold_launch_pad.png" width="225px" class="sponsor"/></a>
        <a target="_blank" href="http://codeship.io/"><img src="images/gold_code_ship.png" width="310px" class="sponsor"/></a>
        <a target="_blank" href="http://carrolltongroup.com/"><img src="images/gold_carrollton_group.jpg" width="180px" class="sponsor"/></a>
      </p>
      <h4 class="sponsor-level-heading">Bronze</h4>
      <p><a target="_blank" href="http://nclud.com/"><img src="images/bronze_nclud.jpg" width="150px" class="sponsor"/></a></p>
      <a class="alert alert--footnote" href="/sponsors">Want to be a sponsor? Click here for details.</a>
    </div>
  </div>
</div>
<div class="next-slide-arrow">
  <a href="#contact"><i class="fa fa-chevron-down"></i> Contact</a>
</div>
</section>

<!--Begin Contact-->
<section class="slide slide--primary" id="contact">
<div class="container container--centered">
  <div class="content content--primary">
    <h3 class="slide-heading slide-heading--index">06</h3>
    <h2 class="slide-heading">Contact</h2>
    <div class="col-md-12">
      <ul class="list-inline">
        <li><i class="fa fa-envelope"></i> <a href="mailto:bryan@opensourcenola.org" target="_top">bryan@opensourcenola.org</a> </li>
        <li><i class="fa fa-twitter"></i> <a href="http://twitter.com/opensourcenola">@opensourcenola</a></li>
        <li><i class="fa fa-github"></i>  <a href="http://github.com/opensourcenola">opensourcenola</a></p></li>
    </div>
  </div>
</div>
</section>
