  <!--Begin Header-->
  <section class="slide slide--primary" id="header">
    <a href="/" class="home"><i class="fa fa-home"></i></a>
    <div class="container container--centered">
      <div class="row">
        <div class="col-md-12">
          <h2 class="slide-heading">Become a Sponsor</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <p class="lead">Sponsor a revolutionary hackathon that hopes to inspire developers to contribute back to their favorite open source projects.</p>
        </div>
      </div>
    </div>
  </section>

  <div class="container container--page">
    <div class="row">
      <p>Would your organization like the be one of our sponsors? We are in need of the following:</p>
      <ul>
        <li>Food to keep about 25-30 participants energized for 24 hours</li>
        <li>Event T-shirts and other event promotional items</li>
        <li>Stickers, t-shirts, and other promotional items from our sponsors</li>
        <li>Prizes. We are hoping to have prizes in the form of money, free sortware or free subscription periods, concert or event tickets, and anything else that may fit as a prize. </li>
      </ul>
      <p>We are seeking sponsorship in the form of money or in the form of any of the items listed above. below are our sponsorship levels.</p>
      <ol>
        <li>Gold - $500 or more</li>
        <li>Silver - $250</li>
        <li>Bronze - $100</li>
      </ol>
      <p>Sponsorship gets you presense at the event and on event promotional material, on event t-shirts and on the website as well. Gold sponsors would have the greatest presence while Bronze sponsors would have the lowest.</p>
      <p>For monetary sponsorships, go to our <a target="_blank" href="http://www.eventbrite.com/e/new-orleans-open-source-hackathon-tickets-10611321749">Eventbrite</a> page and register with one of the sponsor tickets.</p>
      <p>Please contact <a href="mailto:team@opensourcenola.org" target="_top">team@opensourcenola.org</a> if you would like to provide sponsorship in our other areas of need.</p>
      <p>If you would like to send anything, the mailing address is below. Please send an email first.</p>
      <address>
        <strong>Open Source NOLA, LLC</strong><br>
        1622 Nie Parkway<br>
        New Orleans LA 70131<br>
      </address>
      <p>What you will be sponsoring is a revolutionary hackathon that hopes to inspire developers to contribute back to their favorite open source projects. We all use open source projects in one way, shape, or form and this is a way for the New Orleans developer community to give back for 24 hours and hopefully long after that. There are no losers here. The better we make projects, the better they are for everyone. With your kind sponsorship, you can fuel the improvement of the tech community.</p>
    </div>
  </div>
